body{
  text-align:center;
  background-color: #e6ccff;
  margin:0;
}

.menu{
  text-align:left;
  background-color: black;  
  padding: 1%;
  text-decoration:none;
  color: white;
  
}

.menu a:hover{
  background-color: grey;
  color: pink;
}
